header{
	background-image: url(../imagem/g2.jpeg);
	height: 400px;
	width: 100%;
	background-attachment: scroll;
	background-size: cover;
	background-position: bottom left;
}

header nav ul{
	display: inline;
}

nav a{
	text-decoration: none;
	border: 1px solid white;
	padding: 8px 15px;
	color: white;
	margin: 0 8px;
}

nav li{
	list-style-type: none;
}

header nav ul{
	text-align: right;
}

header h1{
	text-align: center;
	color: white;
	text-transform: uppercase;
	margin-top: 120px;
	font-size: 40px;
}

.mg{
	width: 30%;
	display: inline-block;
	margin: 0 1%;
}


header p{
	text-align: center;
	color: white;
	text-transform: uppercase;
	background: rgba(8, .8, 8, .5);
	margin: 0 375px;
	padding: 30px 15px;
	border-bottom: 5px solid yellow;
}